!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Test01
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  - if user_signed_in?
    = link_to "ログアウト", destroy_user_session_path, method: :delete
    = link_to "出品する", new_item_path, class: "post"
  - else
    = link_to "ログイン", new_user_session_path, class: "post"
    = link_to "新規登録", new_user_registration_path, class: "post"

  = yield
